@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
/* https://fonts.google.com/specimen/Ubuntu?stroke=Sans+Serif */

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: hsl(130, 100%, 50%);
  --secondary-color: hsl(0, 100%, 50%);
  --navbar-height: 9vh;
}

/* ________ General Styles ________ */
p,
li {
  font-family: "Kanit", sans-serif;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}

div,
header,
section,
footer {
  padding: 10px;
}

div {
  background-color: var(--main-color);
  margin: 20px;
  max-width: 75ch;
  border-radius: 10px 0 10px 0;
}

/* ________ Navbar ________ */
nav {
  background-color: black;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: var(--navbar-height);
}

.logo {
  aspect-ratio: initial;
  height: var(--navbar-height);
  max-width: 70vw;
  object-fit: contain;
  position: absolute;
  left: 0;
}

a:has(.logo) {
  display: flex;
  justify-content: center;
}

.hamburger {
  aspect-ratio: initial;
  height: var(--navbar-height);
  filter: invert(1);
  display: none;
  cursor: pointer;
}

.navbar li {
  float: left;
  list-style-type: none;
}

.navbar li:hover {
  background-color: var(--main-color);
}

.navbar a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 60px;
  color: var(--main-color);
  background-color: black;
  transition: color 60ms, background-color 60ms;
  height: var(--navbar-height);
  text-decoration: none;
}

.navbar a:hover {
  color: black;
  background-color: var(--main-color);
}

/* ________ Body ________ */
.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ________ Footer ________ */
footer {
  display: flex;
  align-items: flex-end;
  background-color: var(--secondary-color);
  height: 20vh;
}

footer a {
  color: white;
}

footer a:visited {
  color: hsl(250, 100%, 70%);
}

footer a:active {
  color: hsl(0, 0%, 60%);
}

footer p {
  margin: 10px 0;
}

/* ________ Media queries ________ */

@media only screen and (max-width: 1450px) {
  nav {
    justify-content: right;
  }
}

@media only screen and (max-width: 1200px) {
  .hamburger {
    display: initial;
  }
  nav {
    justify-content: center;
  }
  .navbar li {
    float: none;
    display: none;
  }
  .logo {
    position: static;
  }
}
